.heading{
    text-align: center;
    font-size: 40px;
    color: rgb(9, 9, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    width: 100%;
}
table{
    min-width: 50%;
    text-align: center;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-spacing: 2px;
}
.event th{
    background-color: rgb(127, 222, 236);
    font-size: 20px;

}
.event td{
    padding: 10px;  
}

button{
    background-color: transparent;
    padding: 5px;
    width: 200px;
    font-family: 'Courier New';
    font-weight: bold;
    background-color: blanchedalmond;

}
button:hover{
    background-color: #0b0b51;
    color: white; 
}

@media only screen and (max-width: 600px){
    .event{
        overflow-x: auto;
    }
    .heading{
        text-align: center;
        font-size: 35px;
        color: rgb(9, 9, 75);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-style: italic;
        width: 100%;
    }
    table{
        min-width: 98%;
        max-width: 98%;
        text-align: center;
        border: 1px solid black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-spacing: 2px;
    }
    .event th{
        background-color: rgb(127, 222, 236);
        font-size: 20px;
    
    }
    .event td{
        padding: 5px;  
    }
    
    button{
        background-color: transparent;
        padding: 5px;
        width: 32%;
        height: 45px;
        font-family: 'Courier New';
        font-weight: bold;
        background-color: blanchedalmond;
        vertical-align: bottom;
    
    }
    button:hover{
        background-color: #0b0b51;
        color: white; 
    }
}